<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<script data-ad-client="ca-pub-4481078020462017" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4481078020462017"
     crossorigin="anonymous"></script>
<!-- BlocoDisplay2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4481078020462017"
     data-ad-slot="1348841652"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- end custom head snippets -->